{% extends "main/base.html" %}
{% block content%}
{% load static %}
<section class="home4 r">
    <div class="content obj">
        <div class="obj_wrapper">
            <div class="obj_img_wrapper net">
            <img class="obj_img net" src="{{net.image.url}}">
            </div>
            <div class="about_obj">
                <p class="obj_title">{{net.name}}</p>
                <p class="obj_price_m">{{net.price_m}} грн/кв.м.</p>
                <p class="obj_price">Ціна встановлення: {{net.price}} грн</p>
                <p class="obj_description">{{net.description}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}